.register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #202020;
    padding: 70px 0;
    width: 100%;
    height: 100vh;
}

.register__container-start {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.register__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: left;
}

.register__container-input-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login__container-input-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.register__container-header {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register__container-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register__container-box-text {
    margin: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__container-box-input {
    background: none;
    border: none;
    border-bottom: solid 1px #424242;
    width: 396px;
    color: white;
}

.register__container-box-input:focus {
    outline: none;
}

.register__container-box-input::placeholder {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register__container-button-block {
    margin-top: 181px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.register__container-button-button {
    border-radius: 3px;
    background-color: 4285F4;
    width: 396px;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    background-color: #4285F4;
}

.register__container-button-text {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register__container-question-block {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.register__container-button-question {
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__container-button-register {
    margin: 0;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 767px) {
    .register {
        padding: 70px 0px;
        width: 100%;
        align-items: center;
    }

    .register__container {
        gap: 80px;
        align-items: center;
        width: calc(100% - 60px);
    }

    .register__container-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .register__container-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .register__container-box-input {
        background: none;
        border: none;
        border-bottom: solid 1px #424242;
        width: 100%;
        color: white;
        border-radius: 0;
    }

    .register__container-header {
        font-family: 'Inter-Medium';
        line-height: 29.05px;
    }

    .register__container-start {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .register__container-button-block {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .register__container-button-button {
        border-radius: 3px;
        background-color: #4285F4;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
    }

    .register__container-button-text {
        font-size: 12px;
        line-height: 14.52px;
    }

    .register__container-question-block {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    .register__container-button-question {
        font-size: 12px;
        line-height: 14.52px;
    }

}