.promo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #073042;
  padding: 74px 0 406px 70px;
}

.promo__image {
  height: 244px;
  width: 722px;
  opacity: 0.7;
  position: absolute;
  right: 70px;
  top: 330px;
}

.promo__title {
  padding: 0;
  text-align: left;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -4%;
  color: white;
  width: 626px;
}

@media screen and (max-width: 767px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #073042;
    padding: 183px 0 40px 0;
    gap: 60px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 39px;
    width: calc(100% - 20px);
    text-align: center;
  }

  .promo__image {
    height: 230px;
    width: 210%;
    opacity: 0.7;
    position: relative;
    right: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .promo {    
    padding: 300px 0 440px 0px;
    align-items: center;
  }

  .promo__title {
    text-align: center;
    width: 680px;
  }

  .promo__image {
    height: 230px;
    width: 680px;
    opacity: 0.7;
    top: 618px;
    left: 44px;          
  }
}