.error {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 184px;
}

.error-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.error-code {
    margin: 0;
    color: white;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
}

.error-text {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error-button {
    margin: 0;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 767px) {
    .error {
        gap: 284px;
    }

    .error-code {
        font-size: 80px;
        line-height: 96.82px;
    }

    .error-text {
        font-size: 12px;
        line-height: 14.52px;
    }

    .error-button {
        font-size: 12px;
        line-height: 14.52px;
    }
}