.filterCheckbox {
  margin: 0 auto;
  padding: 0;
  margin-top: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.filterCheckbox__tumbler {
  margin: 0;
  width: 36px;
  cursor: pointer;
}

.filterCheckbox__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
}

@media screen and (max-width: 500px) {
  .filterCheckbox__title {
    font-size: 11px;
  }
}

.filterCheckbox__tumbler:hover {
  opacity: 0.5;
}
.searchForm__item-switch {
  appearance: none;
  box-sizing: border-box;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  box-shadow: inset -1.3em 0px 0px 0px rgba(235, 235, 235, 1);
  background-color: #f5f5f5;
  border: 2px solid rgba(235, 235, 235, 1);
  outline: none;
  transition: 0.2s;
  margin: 0;
  padding: 0;
}

.searchForm__item-switch:checked {
  box-shadow: inset 1.3em 0px 0px 0px rgba(43, 224, 128, 1);
  border: 2px solid rgba(43, 224, 128, 1);
  background: #fff;
}

.searchForm__item-switch:focus {
  outline-width: 0;
}

.searchForm__item-switch:hover {
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .searchForm__label-switch {
    padding-right: 12px;
  }
}
